<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xiaojiniz.hifini.music</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0B62B4CE-A51B-4284-9699-BCBF04AE5795</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70BB200-6785-458F-8A8F-CE8EC10B5DB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0BBAD226-2376-4C87-88E5-7CDCA9362EFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9888C13-7711-4B87-AC02-69C216E04AD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F0651D1-4108-41D2-B853-67AD3F58EB59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9888C13-7711-4B87-AC02-69C216E04AD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>219C3D0B-03A5-408E-88DC-541DBBC850C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEB43EF3-144A-4452-843C-125293577F0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30E2C29A-DDB2-4E87-80E7-669800E1B2C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B1659F6-C3AE-43A6-A53C-EC29A446AC8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B1659F6-C3AE-43A6-A53C-EC29A446AC8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F0651D1-4108-41D2-B853-67AD3F58EB59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9144EC6E-3DB1-4288-AEAD-5FF1A8E5967D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B62B4CE-A51B-4284-9699-BCBF04AE5795</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>使用 ffplay 播放</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A70BB200-6785-458F-8A8F-CE8EC10B5DB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3454C6A2-021C-4F7E-8BC7-07F86ACECA80</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>在浏览器打开 {query}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A70BB200-6785-458F-8A8F-CE8EC10B5DB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>219C3D0B-03A5-408E-88DC-541DBBC850C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEB43EF3-144A-4452-843C-125293577F0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C909076E-B728-484A-8D05-787F529135D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C67CDF3B-7DC8-49A5-8F10-EC822C48DFF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30E2C29A-DDB2-4E87-80E7-669800E1B2C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CCE00F0C-8053-4282-822C-955BCF675546</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0BBAD226-2376-4C87-88E5-7CDCA9362EFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C909076E-B728-484A-8D05-787F529135D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C67CDF3B-7DC8-49A5-8F10-EC822C48DFF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4BCEED3-91F1-4715-9A85-FF199872FA75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0125904-E5DA-48BD-8ED5-7F1FF48A644C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9888C13-7711-4B87-AC02-69C216E04AD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4BCEED3-91F1-4715-9A85-FF199872FA75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>325E6EB8-84D8-4770-ABEB-64EC1458AE4F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB9C83C6-063F-41C3-9D58-E7A0994384EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiaojinzi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HifiniMusic</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>node ./workflow/js/dm.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B1659F6-C3AE-43A6-A53C-EC29A446AC8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:playMode}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>musicPlayUrl</key>
					<string>https://www.hifini.com/{var:subUrlPath1}{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1F0651D1-4108-41D2-B853-67AD3F58EB59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:subUrlPath2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>30E2C29A-DDB2-4E87-80E7-669800E1B2C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>playMode</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B62B4CE-A51B-4284-9699-BCBF04AE5795</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ffplay -loop 0 $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0125904-E5DA-48BD-8ED5-7F1FF48A644C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:musicPlayUrl}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4BCEED3-91F1-4715-9A85-FF199872FA75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>music</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在搜索 '{query}'</string>
				<key>script</key>
				<string>./workflow/python/env/bin/python3 ./workflow/python/search.py --keyword $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>歌手/歌曲</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9144EC6E-3DB1-4288-AEAD-5FF1A8E5967D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./workflow/python/env/bin/python3 ./workflow/python/getMusicSubUrlByUrl.py --url {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>219C3D0B-03A5-408E-88DC-541DBBC850C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:absoluteMusicUrl}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>如果没有绝对路径则需要进一步解析</string>
						<key>uid</key>
						<string>CCE00F0C-8053-4282-822C-955BCF675546</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>绝对路径, 直接可以去下面的流程</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C67CDF3B-7DC8-49A5-8F10-EC822C48DFF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>BEB43EF3-144A-4452-843C-125293577F0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>targetMusicUrl</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A70BB200-6785-458F-8A8F-CE8EC10B5DB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>absoluteMusicUrl</key>
					<string>{var:url1}</string>
					<key>subUrlPath1</key>
					<string>{var:url2}</string>
					<key>subUrlPath2</key>
					<string>{var:url3}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C909076E-B728-484A-8D05-787F529135D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>1 使用 ffplay 播放</string>
						<key>uid</key>
						<string>325E6EB8-84D8-4770-ABEB-64EC1458AE4F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>其他情况使用网页播放</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E9888C13-7711-4B87-AC02-69C216E04AD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>0</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>musicPlayUrl</key>
					<string>{var:absoluteMusicUrl}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0BBAD226-2376-4C87-88E5-7CDCA9362EFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:musicPlayUrl}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AB9C83C6-063F-41C3-9D58-E7A0994384EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3454C6A2-021C-4F7E-8BC7-07F86ACECA80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B62B4CE-A51B-4284-9699-BCBF04AE5795</key>
		<dict>
			<key>note</key>
			<string>可以最终在 ffplay 中播放</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>0BBAD226-2376-4C87-88E5-7CDCA9362EFD</key>
		<dict>
			<key>note</key>
			<string>拼接出真实的播放地址
并且传递 playMode 到下一层, playMode 设置为 0, 因为绝对路径不支持 ffplay 播放</string>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>1F0651D1-4108-41D2-B853-67AD3F58EB59</key>
		<dict>
			<key>note</key>
			<string>拼接出真实的播放地址
并且传递 playMode 到下一层</string>
			<key>xpos</key>
			<real>1230</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>219C3D0B-03A5-408E-88DC-541DBBC850C4</key>
		<dict>
			<key>note</key>
			<string>根据 music Url 分析得到 music sub url
这个 sub url 信息是用 , 隔开的两个参数.
后一个需要 js 代码执行过才可拼接到第一个参数上, 形成真的 subUrl</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>30E2C29A-DDB2-4E87-80E7-669800E1B2C2</key>
		<dict>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>3454C6A2-021C-4F7E-8BC7-07F86ACECA80</key>
		<dict>
			<key>note</key>
			<string>打开 music 页面</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>3B1659F6-C3AE-43A6-A53C-EC29A446AC8C</key>
		<dict>
			<key>note</key>
			<string>让网站的 js 对源码中拿到的 generateParam 方法内的字符串进行加密</string>
			<key>xpos</key>
			<real>1035</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9144EC6E-3DB1-4288-AEAD-5FF1A8E5967D</key>
		<dict>
			<key>note</key>
			<string>根据关键词搜索音乐并且展示</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>A70BB200-6785-458F-8A8F-CE8EC10B5DB0</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>AB9C83C6-063F-41C3-9D58-E7A0994384EA</key>
		<dict>
			<key>xpos</key>
			<real>1550</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BEB43EF3-144A-4452-843C-125293577F0A</key>
		<dict>
			<key>note</key>
			<string>用 , 分割 3 个参数
1. 绝对路径
2. 需要处理的路径片段1
3. 需要处理的路径片断2</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>C67CDF3B-7DC8-49A5-8F10-EC822C48DFF8</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>C909076E-B728-484A-8D05-787F529135D2</key>
		<dict>
			<key>note</key>
			<string>保存 3 个参数. 并且用 url3 作为流程上的输出</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>D0125904-E5DA-48BD-8ED5-7F1FF48A644C</key>
		<dict>
			<key>xpos</key>
			<real>1550</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>D4BCEED3-91F1-4715-9A85-FF199872FA75</key>
		<dict>
			<key>xpos</key>
			<real>1465</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>E9888C13-7711-4B87-AC02-69C216E04AD1</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>如果 playMode = 1 就用 ffplay 播放
else 就打开网页进行播放</string>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
